{% extends "base.html" %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>[Regx]+</h1>
        <p>This website generates random regular expression crossword puzzles for you to enjoy.</p>
        <p><a class="btn btn-info btn-lg" href="/puzzle/beginner">Start &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Beginner</h2>
            <p>Some simple puzzles to get you started.</p>
            <p><a class="btn btn-success" href="/puzzle/beginner">Start &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Intermediate</h2>
            <p>For all you regular folk out there who only have a few minutes left on the train.</p>
            <p><a class="btn btn-success" href="/puzzle/intermediate">Start &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Expert</h2>
            <p>(Generic challenging text to both intimidate and excite you).</p>
            <p><a class="btn btn-success" href="/puzzle/expert">Start &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Random</h2>
            <p>I made this one first. The difficulties are just filters over this. Real words may not be used in this one.</p>
            <p><a class="btn btn-success" href="/puzzle/random">Start &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Double Trouble</h2>
            <p>Play with twice the number of rules.</p>
            <p><a class="btn btn-success" href="/puzzle/double">Start &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>More Expert</h2>
            <p>All 12x12. All random. It may not fit on the screen.</p>
            <p><a class="btn btn-success" href="/puzzle/more_expert">Start &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Alice</h2>
            <p>Follow Alice down the rabbit hole.</p>
            <p><a class="btn btn-success" href="/puzzle/alice">Start &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Shakespeare</h2>
            <p>From the complete works of William Shakespeare, written by William Shakespeare.</p>
            <p><a class="btn btn-success" href="/puzzle/shakespeare">Start &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Huck</h2>
            <p>Something something Huckleberry Finn.</p>
            <p><a class="btn btn-success" href="/puzzle/huck">Start &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}
