{% extends "base.html" %}

{% block styles %}
<style type="text/css">
    body {
        width: 90.3%;
        margin: 10px auto;
    }
</style>
{% endblock %}

{% block body %}
<div id="puzzle-wrapper"><!-- crossword puzzle appended here --></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button class="check btn btn-lg btn-primary">Validate</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="btn-group">
                <button type="button" class="clear btn btn-default">Clear board</button>
                <button type="button" class="new btn btn-default">New board</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/">Home</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.crossword.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">
    // A javascript-enhanced crossword puzzle [c] Jesse Weisbeck, MIT/GPL 
    (function($) {
        $(function() {
            var puzzleData = [
                {% for row in rows %}
                {
                    clue: "{{ row.pattern|replace('\\', '\\\\') }}",
                    answer: "{{ filler_row }}",
                    position: {{ loop.index }},
                    orientation: "across",
                    startx: 1,
                    starty: {{ loop.index }}
                },
                {% endfor %}
                {% for col in cols %}
                {
                    clue: "{{ col.pattern|replace('\\', '\\\\') }}",
                    answer: "{{ filler_col }}",
                    position: {{ loop.index }},
                    orientation: "down",
                    startx: {{ loop.index }},
                    starty: 1
                },
                {% endfor %}
            ]; 
            $('#puzzle-wrapper').crossword(puzzleData);
        })
    })(jQuery);

    $(".check").click(function(){
        var row, col;
        {% for row in rows %}
        row = "";
        for (var x = 1; x <= {{ cols|length }}; x++){
            var c = ($('[data-coords="' + x + ',' + {{ loop.index }} + '"] input').val() || " ").toUpperCase();
            row += c;
        }
        if (!/^{{ row.pattern }}$/.test(row)){
            failedValidation();
            return;
        }
        {% endfor %}
        {% for col in cols %}
        col = "";
        for (var y = 1; y <= {{ rows|length }}; y++){
            var c = ($('[data-coords="' + {{ loop.index }} + ',' + y + '"] input').val() || " ").toUpperCase();
            col += c;
        }
        if (!/^{{ col.pattern }}$/.test(col)){
            failedValidation();
            return;
        }
        {% endfor %}
        successfulValidation();
    });

    $(".clear").click(function(){
        for (var y = 1; y < {{ rows|length }}; y++){
            for (var x = 1; x <= {{ cols|length }}; x++){
                $('[data-coords="' + x + ',' + y + '"] input').val("");
            }
        }
    });

    $(".new").click(function(){
        location.reload();
    });
</script>
{% endblock %}
